/* Panel */
.kr-ic-panel-apps {
  content: url("panel/apps.svg");
}
.kr-ic-panel-files {
  content: url("panel/files.svg");
}
.kr-ic-panel-productivity {
  content: url("panel/productivity.svg");
}
.kr-ic-panel-tools {
  content: url("panel/tools.svg");
}
.kr-ic-panel-media {
  content: url("panel/media.svg");
}
.kr-ic-panel-internet {
  content: url("panel/internet.svg");
}
.kr-ic-panel-settings {
  content: url("panel/settings.svg");
}
.kr-ic-panel-games {
  content: url("panel/games.svg");
}
.kr-ic-panel-education {
  content: url("panel/education.svg");
}

.kr-ic-panel-development {
  content: url("panel/development.svg");
}

.kr-ic-panel-lifestyle {
  content: url("panel/lifestyle.svg");
}
.kr-ic-panel-social {
  content: url("panel/social.svg");
}
.kr-ic-panel-others {
  content: url("panel/others.svg");
}
